{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_new' %}

{% block main %}
    <h1>{{ 'title.post_new'|trans }}</h1>

    {{ form_start(form) }}

        {{ form_row(form.title,  {'attr': {'placeholder':'Tytuł', 'title':'Tytułr', 'class':'form-control'}}) }}

        {{ form_row(form.content,  {'attr': {'placeholder':'Treść', 'title':'Treść', 'class':'form-control'}}) }}

        {{ form_row(form.status,  {'attr': { 'class':'form-control'}}) }}

        {{ form_row(form.publishAt,  {'attr': { 'class':'form-control'}}) }}









    <input type="submit" value="{{ 'label.create_post'|trans }}" class="btn btn-primary" />

        {{ form_widget(form.saveAndCreateNew, { label: 'label.save_and_create_new'|trans, attr: { class: 'btn btn-primary' } }) }}

        <a href="{{ path('admin_post_index') }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
