{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'label.content'|trans }}</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>{{ 'label.author'|trans }}</th>
                <td><p>{{ post.user.username }}</p></td>
            </tr>
            <tr>
                <th>{{ 'label.published_at'|trans }}</th>
                <td><p>{{ post.publishAt|date('Y-m-d H:i:s')}}</p></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        {% if app.user.id == post.user.id %}
        <a href="{{ path('admin_post_edit', { id: post.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> {{ 'action.edit_contents'|trans }}
        </a>
        {% endif %}
    </div>

    <div class="section">
        {% if app.user.id == post.user.id %}
            {{ include('admin/blog/_form.html.twig', {
                form: delete_form,
                button_label: 'action.delete_post'|trans,
                button_css: 'btn btn-lg btn-block btn-danger',
                show_confirmation: true,
            }, with_context = false) }}
        {% endif %}

    </div>

{% endblock %}
