{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See http://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony Demo application{% endblock %}</title>

        {% block stylesheets %}
        {# uncomment the following lines to compile SCSS assets with Assetic

            {% stylesheets filter="scssphp" output="css/app.css"
                "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
                "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
                "%kernel.root_dir%/Resources/assets/css/*.css"
                "%kernel.root_dir%/Resources/assets/scss/main.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        #}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('css/app-style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('blog_index') }}">
                                Symfony Demo
                            </a>

                            <button type="button" class="navbar-toggle"
                                    data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">

                                {% block header_navigation_links %}
                                    <li>
                                        <a href="{{ path('blog_index') }}">
                                            <i class="fa fa-home"></i> {{ 'menu.homepage'|trans }}
                                        </a>
                                    </li>

                                    {# The 'app.user' condition is required to avoid issues in 404 and 500 error pages
                                       As routing is done before security, error pages are not covered by any firewall.
                                       This means you can't use is_granted() directly on these pages.
                                       See http://symfony.com/doc/current/cookbook/security/form_login_setup.html#avoid-common-pitfalls
                                    #}
                                    {% if app.user and is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a href="{{ path('admin_post_index') }}">
                                                <i class="fa fa-lock"></i> {{ 'menu.admin'|trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endblock %}

                                {% if app.user %}
                                    {#
                                     <li>
                                        <a href="{{ path('security_logout') }}">
                                            <i class="fa fa-sign-out"></i> {{ 'menu.logout'|trans }}
                                        </a>
                                    </li>
                                    #}

                                {% endif %}

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-globe"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu locales" role="menu">

                                         {% for locale in locales() %}
                                            <li {% if app.request.locale == locale.code %}class="active"{% endif %}><a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({ _locale: locale.code })) }}">{{ locale.name|capitalize }}</a></li>
                                        {% endfor %}

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}
                            <div class="section about">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                                    <a class="btn btn-lg btn-block btn-success" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-6">
                            <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
                            <p>{{ 'mit_license'|trans }}</p>
                        </div>
                        <div id="footer-resources" class="col-md-6">
                            <p>
                                <a href="https://twitter.com/symfony"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/SensioLabs"><i class="fa fa-facebook"></i></a>
                                <a href="http://symfony.com/blog"><i class="fa fa-rss"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}
        {# uncomment the following lines to combine and minimize JavaScript assets with Assetic

            {% javascripts filter="?jsqueeze" output="js/app.js"
                "%kernel.root_dir%/Resources/assets/js/jquery-2.1.4.js"
                "%kernel.root_dir%/Resources/assets/js/moment.min.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.4.js"
                "%kernel.root_dir%/Resources/assets/js/highlight.pack.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap-datetimepicker.min.js"
                "%kernel.root_dir%/Resources/assets/js/main.js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            #}

             <script src="{{ asset('js/app.js') }}"></script>
            <script>
                //TODO COPPY TO SEPARATE FILE!

                $(function(){
                    $("#add_post").click(function(){
                        var form = $("form[name=app_comment]").serialize();
                        var post_id = $("#add_post").attr("id_post");


                        $.ajax({
                            type: "POST",
                            data: form,
                            url: "/pl/comment/"+post_id+"/new",
                            cache: "false",
                            dataType: "html",
                            beforeSend : function(){
                                $(".message_div").hide();
                            },
                            success: function(result){
                                var json = JSON.parse(result);
                                $(".message_div").show();

                                if (json.status == "OK"){
                                    $(".message_div").removeClass("error");
                                    $(".message_div").addClass("success");
                                    $(".message_div").html("Komentarz został dodany!");
                                    $.ajax({
                                        type: "POST",
                                        url: "/{{ app.request.locale }}/post/"+$("#add_post").attr("id_post")+"/commentsShow",
                                        cache: "false",
                                        dataType: "html",
                                        success: function(result){
                                            $("#comments_result").html(result);
                                        }
                                    });
                                }
                                else {
                                    $(".message_div").removeClass("success");
                                    $(".message_div").addClass("error");

                                    var err = "";
                                    for (var prop in json.error){
                                        err =  prop;
                                        break;
                                    }

                                    $(".message_div").html("Błąd: "+err+" - "+json.error[err]);
                                }


                                //$("#comments_result").html(result);
                            },
                        });

                        /*

                         */

                        return false;
                    });
                    $("#app_post_publishAt").datepicker({
                        locale : 'pl'
                    });
                });

                if ($("#app_post_publishAt").val() != 3){
                    $("#app_post_publishAt").parent().parent().show();
                }

                $("#app_post_status").change(function(){

                    if ($(this).val() == 3){
                        $("#app_post_publishAt").parent().parent().show();
                    }
                    else {
                        $("#app_post_publishAt").parent().parent().hide();
                    }
                    return false;
                });


            </script>
        {% endblock %}
    </body>
</html>
