
{% block main %}

        {% for comment in post.comments %}
            <div class="row post-comment">
                <h4 class="col-sm-3">
                    <strong>{{ comment.author }}</strong> {{ 'post.commented_on'|trans }}
                    <strong>{{ comment.createDate|date('Y-m-d H:i:s') }}</strong>
                </h4>
                <div class="col-sm-9">
                    {{ comment.content }}
                </div>
            </div>
        {% else %}
            <div class="post-comment">
                <p>{{ 'post.no_comments'|trans }}</p>
            </div>
        {% endfor %}

{% endblock %}
