{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{{ path('blog_post', { id: post.id }) }}">
                    {{ post.title }}
                </a>
            </h2>
        </article>
    {% else %}
        <div class="well">{{ 'post.no_posts_found'|trans }}</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

{% endblock %}
