{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    {{ post.content }}

    <div id="post-add-comment" class="well">
        {# The 'IS_AUTHENTICATED_FULLY' role ensures that the user has entered
        his/her credentials (login + password) during this session. If he/she
        is automatically logged via the 'Remember Me' functionality, he/she won't
        be able to add a comment.
        See http://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
        #}

            {{ render(controller('AppBundle:Default:commentForm', { 'id': post.id })) }}


    </div>


    {# #}
    <div class="message_div">sadadssdasad</div>
    <h3>{{ 'post.num_comments'|transchoice(post.comments|length) }}</h3>
    <div id="comments_result">
        {{ render(controller('AppBundle:Default:commentsShow', { 'id': post.id })) }}
    </div>

{% endblock %}

{% block sidebar %}


    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}

{% endblock %}
