.error {
    padding : 15px;
    margin : 10px;
    background-color : #e74c3c;
    border : 1px #dc322f solid;
}

.success {
    padding : 15px;
    margin : 10px;
    background-color : #66dd66;
    border : 1px #629755 solid;

}

.message_div {
    display:none;

}